@{
    ViewData["Title"] = "Form";
}

<div class="p-3">
    <div class="bg-heading px-2 py-3 rounded d-flex fw-bold">Thông tin tìm kiếm</div>
    <form action="formSearchs" Method="POST" class="mt-4 mx-4">
        <div class="row">
            <div class="col">
                <div class="row">
                    <label class="control-label col text-end">Đơn vị</label>
                    <div class="col">
                        <div id="selectDonVi"></div>
                    </div>
                </div>
                <div class="row mt-2">
                    <label class="control-label col text-end">Số công văn</label>
                    <div class="col">
                        <div id="txtSoCongVan"></div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="row">
                    <label class="control-label col text-end">Ngày kê khai</label>
                    <div class="col">
                        <div id="dateKeKhai"></div>
                    </div>
                </div>
                <div class="row mt-2">
                    <label class="control-label col text-end">Ngày công văn</label>
                    <div class="col">
                        <div id="dateCongVan"></div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="row">
                    <label class="control-label col text-end">Đến ngày</label>
                    <div class="col">
                        <div id="dateKeKhaiDenNgay"></div>
                    </div>
                </div>
                <div class="row mt-2">
                    <label class="control-label col text-end">Đến ngày</label>
                    <div class="col">
                        <div id="dateCongVanDenNgay"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center mt-3">
            <div id="btnSearch"></div>
            <div id="btnAdd" class="mx-2"></div>
            <div id="btnPrint"></div>
        </div>
    </form>

    <div class="d-flex mt-3">
        <a href="#" class="bg-light-gray p-2 fw-bold text-decoration-none text-reset">Danh sách chưa gửi</a>
        <a href="#" class="bg-light flex-grow-1 p-2 text-decoration-none text-reset">Danh sách đã gửi</a>
    </div>

    <div id="gridContainer" class="mt-2"></div>
</div>

@section css {
<link rel="stylesheet" href="/css/form.css" />
}

@section js {
<script ype="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/dx.all.js"></script>
<script>
    $(document).ready(function () {
        InitDevextreme();
    })
    // ----------------------------------------------------------------
    function InitDevextreme() {
        selectDonVi = $("#selectDonVi").dxSelectBox({
            width: 250,
            placeholder: "Lựa chọn",
            items: ["Đơn vị 1", "Đơn vị 2", "Đơn vị 3"]
        }).dxSelectBox('instance');

        txtSoCongVan = $("#txtSoCongVan").dxTextBox({
            width: 250
        }).dxTextBox('instance');

        dateKeKhai = $("#dateKeKhai").dxDateBox({
            width: 200
        }).dxDateBox('instance');

        dateCongVan = $("#dateCongVan").dxDateBox({
            width: 200
        }).dxDateBox('instance');

        dateKeKhaiDenNgay = $("#dateKeKhaiDenNgay").dxDateBox({
            width: 200
        }).dxDateBox('instance');

        dateCongVanDenNgay = $("#dateCongVanDenNgay").dxDateBox({
            width: 200
        }).dxDateBox('instance');

        $('#btnSearch').dxButton({
            stylingMode: 'outlined',
            text: 'Tìm kiếm',
            icon: 'find',
            type: 'success',
            width: 130,
            onClick() {
                DevExpress.ui.notify('Bạn đã ấn tìm kiếm');
            },
        });

        $('#btnAdd').dxButton({
            stylingMode: 'contained',
            text: 'Thêm mới',
            icon: 'plus',
            type: 'default',
            width: 130,
            onClick() {
                DevExpress.ui.notify('Bạn đã ấn thêm mới');
            },
        });

        $('#btnPrint').dxButton({
            stylingMode: 'contained',
            text: 'In ấn',
            icon: 'print',
            type: 'success',
            width: 130,
            onClick() {
                DevExpress.ui.notify('Bạn đã ấn in ấn');
            },
        });

        $(() => {
            $("#gridContainer").dxDataGrid({
                onCellPrepared: function (e) {
                    if (e.rowType === 'header') {
                        e.cellElement.css("backgroundColor", "#1f2d78");
                        e.cellElement.css('color', "#fff");
                    }
                },
                dataSource: data,
                autoExpandAll: true,
                allowColumnReordering: true,
                allowColumnResizing: true,
                columnAutoWidth: true,
                showBorders: true,
                showRowLines: true,
                selection: {
                    mode: 'multiple',
                    showCheckBoxesMode: 'always',
                },
                toolbar: {
                    items: [{
                        location: 'before',
                        widget: 'dxButton',
                        options: {
                            stylingMode: 'contained',
                            text: 'Gửi KKG',
                            icon: 'todo',
                            type: 'success',
                            width: 120,
                            height: 35,
                            onClick() {
                                DevExpress.ui.notify('Bạn đã ấn gửi KKG');
                            },
                        }
                    }, {
                        location: 'before',
                        widget: 'dxButton',
                        options: {
                            stylingMode: 'contained',
                            text: 'Xóa',
                            icon: 'trash',
                            type: 'danger',
                            width: 120,
                            height: 35,
                            onClick() {
                                DevExpress.ui.notify('Bạn đã ấn xóa');
                            },
                        }
                    },
                        'searchPanel']
                },
                columns: [{
                    caption: "STT",
                    cellTemplate: function (container, options) {
                        container.text(options.rowIndex + 1);
                    },
                }, {
                    dataField: "file",
                    caption: ""
                }, {
                    dataField: "soCongVan",
                    caption: "Số công văn"
                }, {
                    dataField: "trichYeu",
                    caption: "Trích yếu"
                }, {
                    dataField: "soDvKeKhai",
                    caption: "Số DV kê khai"
                }, {
                    dataField: "ngayHieuLuc",
                    caption: "Ngày hiệu lực",
                    dataType: "date"
                }, {
                    dataField: "nguyenNhan",
                    caption: "Nguyên nhân, biến động"
                }, {
                    dataField: "chinhSach",
                    caption: "Chính sách"
                }],
                searchPanel: {
                    placeholder: "Tìm kiếm nhanh...",
                    width: 250,
                    visible: true
                },
                editing: {
                    allowUpdating: true,
                    allowDeleting: true,
                    useIcons: true,
                },
            });
        })
    }
    // ----------------------------------------------------------------
    const data = [{
        file: "",
        soCongVan: "0001",
        trichYeu: "Trích yếu 1",
        soDvKeKhai: "0",
        ngayHieuLuc: "01-11-2022",
        nguyenNhan: "Nguyên nhân 1",
        chinhSach: "Chính sách 1"
    }, {
        file: "",
        soCongVan: "0002",
        trichYeu: "Trích yếu 2",
        soDvKeKhai: "29",
        ngayHieuLuc: "01-15-2022",
        nguyenNhan: "Nguyên nhân 2",
        chinhSach: "Chính sách 2"
    }, {
        file: "",
        soCongVan: "0003",
        trichYeu: "Trích yếu 3",
        soDvKeKhai: "17",
        ngayHieuLuc: "03-11-2022",
        nguyenNhan: "Nguyên nhân 3",
        chinhSach: "Chính sách 3"
    }, {
        file: "",
        soCongVan: "0004",
        trichYeu: "Trích yếu 4",
        soDvKeKhai: "15",
        ngayHieuLuc: "04-17-2022",
        nguyenNhan: "Nguyên nhân 4",
        chinhSach: "Chính sách 4"
    }]
</script>
}